.vscode/**
.git/**
.github/**
.gitignore
.vscodeignore
**/*.ts
**/*.map
.nyc_output
coverage
**/*.spec.js
**/*.test.js
**/test/**
**/tests/**
**/*.sh
**/scripts/**
**/docs/**
node_modules/**
package-lock.json
tsconfig.json
tslint.json
webpack.config.js
.eslintrc.json
**/.DS_Store
*.vsix
